.header {
  background-color: $blue-white; //change the background color when the user is authenticated
}
header {
  padding: $padding;
  min-height: 10vh;
  position: sticky;
  top: 0;
  z-index: 200;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    .harmburger {
      display: none; //harmburger display none on large device
    }
    //style the logo of the company
    .logo {
      color: $blue;
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  header {
    nav {
      .harmburger {
        display: block;
        z-index: 10;
        color: $blue;
      }
    }
  }
}
