.signin-form {
  a {
    display: block;
    text-decoration: none;
    width: max-content;
    color: $orange;
    font-weight: bolder;
    transition: all 0.3s ease-out;
    &:hover {
      color: $blue-blue;
    }
  }
}

@media only screen and (max-width: 700px) {
  .signup-form {
    min-width: 300px;
    max-width: 100%;
  }
}
