.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 50px;
      font-family: $italic;
      font-weight: 100px;
      color: $blue;
    }

    a {
      text-decoration: none;
      color: $blue-blue;
      border: 1px solid $blue-white;
      width: 70%;
      padding: 0.8em 1em;
      margin-top: 1em;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      transition: all 0.5s ease-out;
    }

    a:hover {
      border: none;
      background-color: $blue-white;
    }
  }
  .svg {
    width: 50%;
    img {
      width: 140%;
    }
  }
}
@media only screen and (max-width: 700px) {
  .home {
    flex-direction: column;
    height: max-content;
    .content {
      width: 100%;
      h1 {
        font-size: 30px;
        margin: 0.6em 0;
      }
      a {
        width: 100%;
      }
    }

    .svg {
      margin-top: 1em;
      width: 100%;
    }
  }
}
