.client-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > li {
    list-style: none;
    margin-left: 1em;
    padding: 0.6em 1em;
    a {
      text-decoration: none;
      font-size: larger;
      font-weight: bolder;
      display: block;
      color: $blue;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &:hover {
      a {
        color: $blue-blue;
      }

      cursor: pointer;
    }
  }

  .dropdown-link {
    position: relative;
    & > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .dropdown-replace-mobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .client-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $blue-white;
    transform: translateX(-500%);
    transition: all 0.5s ease-out;
    & > li {
      width: 100%;
      margin: 1em 0;
    }
    //the dropdown only used for desktop screen only
    .dropdown-link {
      display: none;
    }
    .dropdown-replace-mobile {
      display: block;
    }
  }
  .client-nav.client-nav-mobile {
    transform: translateX(0);
  }
}
