$blue: hsl(213, 47%, 47%);
$blue-blue: #112d4e;
$blue-white: #dbe2ef;
$white: #f9f7f7;
$orange: #b83b5e;
$regular: "Roboto", sans-serif;

$italic: "Redressed", cursive;

body,
html {
  padding: 0;
  margin: 0;
  background: $white;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  font-family: $regular;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 8%;
  // position: relative;
}

//config loading
.loading {
  position: absolute;
  background: $white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
.loading-false {
  display: none;
}
