.Toastify__toast-container {
  margin: 0 auto !important;
  min-width: 30%;
}
.Toastify__toast {
  padding: none;
  font-size: 1.3em;
  font-weight: bolder;
  text-align: center;
  min-height: 5em !important;
}

.Toastify__toast--warning {
  background: $blue-blue !important;
  color: $orange;
}

.Toastify__toast--success {
  background: $blue-blue !important;
  text-align: center;
}
