.profile-card {
  background-color: $white;
  border: 2px solid $blue-white;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
  .top-background {
    background-color: $blue-blue;
    height: 200px;
    width: 100%;
  }
  .profile-info {
    min-height: 200px;
    .img-wrapper {
      width: 150px;
      min-width: 100px;
      height: 150px;
      position: absolute;
      background-color: $blue-white;
      z-index: 20;
      top: 8em;
      left: 2em;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
