header {
  padding: $padding;
  min-height: 10vh;
  position: sticky;
  top: 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: inherit;
    .harmburger {
      display: none; //harmburger display none on large device
    }
    //style the logo of the company
    .logo {
      color: $blue;
      font-size: 2rem;
    }

    //general style for all ul in nav
    ul {
      list-style: none;
      li {
        a {
          color: $blue;
          text-decoration: none;
          display: block;
          font-size: large;
          font-weight: bolder;
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      height: inherit;
      align-items: center;
      & > li {
        margin-left: 2em;
      }
      //style quest link
      .gue-nav-link {
        padding: 0.6em 1em;
        border-radius: 20px;
        &:hover {
          background: $blue-white;
        }
      }

      .signin-nav-link {
        border: 1px solid $blue;
      }
      //style client link
      .cli-nav-link {
        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:hover {
            color: $blue-blue;
          }
        }
      }
      .dropdown {
        position: relative;
        width: max-content;
        color: $blue;
        cursor: pointer;
        &:hover {
          color: $blue-blue;
        }
        & > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
          }
        }
        .sub-menu {
          position: absolute;
          background-color: $white;
          border-radius: 8px;
          margin-top: 1em;
          right: 0;
          min-width: 250px;
          opacity: 0;
          transform: translateY(-1000px);
          transition: all 1s ease-out;
          .user-info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 7px;
            img {
              width: 40px;
              height: 40px;
              border-radius: 100%;
            }
            & > div {
              margin-left: 10px;
              color: $blue-blue;
            }
          }
          .underline {
            width: 90%;
            height: 2px;
            background-color: $blue-white;
            border-radius: 3px;
            margin: 10px auto;
          }
          .view-profile-link {
            border: 1px solid $blue;
            padding: 3px;
            margin: 5px;
            border-radius: 20px;
          }

          .logout {
            margin: 0 7px 7px;
          }
        }
        .sub-menu.sub-menu-show {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
