header {
  padding: $padding;
  background-color: blue;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .harmburger {
      display: none; //harmburger display none on large device
    }
    //style the logo of the company
    .logo {
      color: $blue;
      font-size: 2rem;
    }

    //general style for all ul in nav
    ul {
      list-style: none;
      li {
        font-size: large;
        font-weight: bolder;
        margin: 0.6em 0.8em;
        a {
          color: $blue;
          text-decoration: none;
          display: block;
        }
      }

      li:hover {
        background-color: $blue-white;
      }
    }
    .menu {
      display: flex;

      .dropdown {
        position: relative;
        background: lightcoral;
        width: max-content;
        .sub-menu {
          position: absolute;
          background-color: lawngreen;
        }
      }
    }
  }
}
